/* line 4, ../sass/styles-rtl.scss */
#skip-link {
  display: none;
}

/* headline */
/* line 11, ../sass/styles-rtl.scss */
.headline .block-menu {
  float: left;
  margin-right: 15px;
}
/* line 16, ../sass/styles-rtl.scss */
.headline .block-menu ul.menu a:after {
  margin-right: 5px;
  margin-left: 0;
  vertical-align: middle;
}
/* line 24, ../sass/styles-rtl.scss */
.headline #block-search-form {
  float: left;
  margin-right: 0;
}
/* line 27, ../sass/styles-rtl.scss */
.headline #block-search-form:before {
  right: auto;
  left: 10px;
}
/* line 32, ../sass/styles-rtl.scss */
.headline #block-search-form #search-block-form input.form-text {
  right: auto;
  left: 0;
  padding-left: 30px;
  padding-right: 5px;
}
/* line 38, ../sass/styles-rtl.scss */
.headline #block-search-form #search-block-form input.form-submit {
  right: -45px;
}
/* line 43, ../sass/styles-rtl.scss */
.headline .social-list {
  float: right;
  padding-right: 0;
}

/* header */
/* line 52, ../sass/styles-rtl.scss */
#logo {
  left: auto;
  right: 15px;
}

/* login */
/* line 61, ../sass/styles-rtl.scss */
#user-login .form-checkbox {
  float: right;
  margin-right: 0;
  margin-left: 5px;
}

/* menu */
/* line 72, ../sass/styles-rtl.scss */
.navbar-default ul.menu {
  margin-right: 0;
  margin-left: -10px;
  text-align: left;
}
/* line 77, ../sass/styles-rtl.scss */
.navbar-default ul.menu li.expanded ul.menu {
  right: auto;
  left: -10px;
  text-align: left;
}

/* line 86, ../sass/styles-rtl.scss */
.submenu-extend {
  left: auto;
  right: 15px;
}

/* breadcrumb */
/* line 95, ../sass/styles-rtl.scss */
.breadcrumb a {
  display: inline-block;
}
/* line 98, ../sass/styles-rtl.scss */
.breadcrumb a:first-child:before {
  margin-right: 0;
  margin-left: 3px;
}

/* primary */
/* line 109, ../sass/styles-rtl.scss */
#page {
  /* main content */
  /* table */
  /* selectbox */
}
/* line 111, ../sass/styles-rtl.scss */
#page ul.primary li {
  margin-right: 0;
  margin-left: 5px;
}
/* line 114, ../sass/styles-rtl.scss */
#page ul.primary li:before {
  margin-right: 0;
  margin-left: 0;
  content: "";
}
/* line 119, ../sass/styles-rtl.scss */
#page ul.primary li:after {
  content: "\f111";
  margin-left: 3px;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 5px;
  margin-top: 5px;
  margin-right: 5px;
  float: left;
}
/* line 129, ../sass/styles-rtl.scss */
#page ul.primary li:last-child:after {
  content: "";
}
/* line 136, ../sass/styles-rtl.scss */
#page span.forum-collapsible {
  float: left;
  right: auto;
  left: 0;
}
/* line 141, ../sass/styles-rtl.scss */
#page .button-sidebar-link {
  right: auto;
  left: -40px;
  border-radius: 3px 0 0 3px;
}
/* line 145, ../sass/styles-rtl.scss */
#page .button-sidebar-link.close {
  left: -25px;
  right: auto;
}
/* line 153, ../sass/styles-rtl.scss */
#page .forum-table .forum-list-icon,
#page .forum-table .forum-list-icon-new-posts {
  padding-right: 10px;
  padding-left: 0;
}
/* line 158, ../sass/styles-rtl.scss */
#page .forum-tools {
  text-align: left;
}
/* line 161, ../sass/styles-rtl.scss */
#page .forum-list-icon-legend .forum-list-legend-item {
  padding-left: 0;
  padding-right: 40px;
}
/* line 167, ../sass/styles-rtl.scss */
#page .dd-option-image,
#page .dd-selected-image {
  float: right;
  margin-right: 0;
  margin-left: 5px;
}
/* line 172, ../sass/styles-rtl.scss */
#page .ddsDefault .dd-pointer {
  right: auto;
  left: 10px;
}

/* line 178, ../sass/styles-rtl.scss */
#forum-statistics .forum-statistics-sub-body {
  padding: 0 55px 15px 15px;
}

/* panel second */
/* line 185, ../sass/styles-rtl.scss */
#panel-second .block {
  float: right;
}
/* line 188, ../sass/styles-rtl.scss */
#panel-second .block .lang_dropdown_form .form-item .dd-select label, #panel-second .block .lang_dropdown_form .form-item .dd-options label {
  float: right;
}

/* footer */
/* line 199, ../sass/styles-rtl.scss */
#panel-footer .social-list {
  padding-left: 0;
  padding-right: 0;
}
/* line 205, ../sass/styles-rtl.scss */
#panel-footer ul.menu li a {
  padding-right: 10px;
  padding-left: 0;
}
/* line 208, ../sass/styles-rtl.scss */
#panel-footer ul.menu li a:before {
  content: "\f0d9";
  left: auto;
  right: 0;
}

/* line 219, ../sass/styles-rtl.scss */
#footer .block {
  float: right;
}
/* line 222, ../sass/styles-rtl.scss */
#footer ul.menu li {
  margin-right: 0;
  margin-left: 20px;
}

/* line 230, ../sass/styles-rtl.scss */
.forum-panel-footer-view .views-row .views-field-picture {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}

/* sidebar */
/* line 243, ../sass/styles-rtl.scss */
.sidebar .block-views .views-field-picture {
  float: right;
  margin-right: 0;
  margin-left: 8px;
}
/* line 249, ../sass/styles-rtl.scss */
.sidebar ul.menu li.expanded > a:after {
  margin-left: 0;
  margin-right: 8px;
}
/* line 254, ../sass/styles-rtl.scss */
.sidebar .item-list .quicktabs-tabs {
  margin-right: -15px;
}
/* line 256, ../sass/styles-rtl.scss */
.sidebar .item-list .quicktabs-tabs li {
  float: right;
  border-right: none;
  border-left: 1px solid #fff;
}
/* line 261, ../sass/styles-rtl.scss */
.sidebar .item-list .quicktabs-tabs li.last {
  border-left: none;
}

/* line 270, ../sass/styles-rtl.scss */
.block-tagclouds .tagclouds-term a {
  margin-left: 2px;
  margin-right: 0;
}

/* line 277, ../sass/styles-rtl.scss */
.more-link {
  text-align: right;
}

/* skins */
/* line 285, ../sass/styles-rtl.scss */
.change-skin-menu-wrapper ul {
  padding: 0;
}
/* line 288, ../sass/styles-rtl.scss */
.change-skin-menu-wrapper li {
  float: right;
  margin-right: 0;
  margin-left: 3px;
}

/* back to top */
/* line 298, ../sass/styles-rtl.scss */
.btn-btt {
  right: auto;
  left: -4px;
}

/* popup */
/* line 308, ../sass/styles-rtl.scss */
#modalContent .popups-container .modal-header .popups-close:before {
  right: auto;
  left: 5px;
}
/* line 313, ../sass/styles-rtl.scss */
#modalContent #modal-content form .form-type-checkbox input {
  margin-right: 0;
  margin-left: 5px;
  float: right;
}

/* search */
/* line 324, ../sass/styles-rtl.scss */
.search-form .form-item > label {
  padding-right: 0;
  padding-left: 8px;
}

/* line 330, ../sass/styles-rtl.scss */
html.js fieldset.collapsible .fieldset-legend {
  background-position: 100% 75%;
}

/* line 334, ../sass/styles-rtl.scss */
html.js fieldset.collapsed .fieldset-legend {
  background-position: 100% 50%;
}

/* line 339, ../sass/styles-rtl.scss */
.form-submit,
.form-actions > a {
  margin-right: 0;
  margin-left: 5px;
}

/* line 345, ../sass/styles-rtl.scss */
.search-advanced .criterion .form-type-checkboxes .form-checkboxes .form-item input[type="radio"],
.search-advanced .criterion .form-type-checkboxes .form-checkboxes .form-item input[type="checkbox"] {
  float: right;
  margin-left: 3px;
  margin-right: 0;
  margin-top: 2px;
}

/**********/
/* line 355, ../sass/styles-rtl.scss */
.forum-node-create-links {
  float: right;
}
/* line 357, ../sass/styles-rtl.scss */
.forum-node-create-links .forum-add-node {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}

/* line 365, ../sass/styles-rtl.scss */
.forum-add-forum .af-button-large span:before {
  margin-right: 0;
  margin-left: 3px;
}

/* line 372, ../sass/styles-rtl.scss */
.forum-table-topics .views-field-title {
  text-align: right;
}
/* line 376, ../sass/styles-rtl.scss */
.forum-table-topics td.views-field-comment-count,
.forum-table-topics td.views-field-totalcount {
  text-align: right;
}

/* line 383, ../sass/styles-rtl.scss */
.forum-table th,
.forum-table td {
  text-align: right;
}

/* line 388, ../sass/styles-rtl.scss */
#forum-sort {
  float: right;
}

/* line 394, ../sass/styles-rtl.scss */
#advanced-forum-forum-topic-list-sort-form,
#advanced-forum-forum-topic-list-sort-form input,
#advanced-forum-forum-topic-list-sort-form .form-item {
  margin-right: 0 !important;
  margin-left: 10px !important;
}

/* line 400, ../sass/styles-rtl.scss */
.forum-topic-legend div {
  float: right;
  margin-right: 0;
  margin-left: 7px;
}
/* line 404, ../sass/styles-rtl.scss */
.forum-topic-legend div:before {
  margin-right: 0;
  margin-left: 5px;
}

/* line 415, ../sass/styles-rtl.scss */
.af-button-small span:before,
.author-pane-link span:before,
.af-button-large span:before {
  margin-right: 0;
  margin-left: 5px;
}

/* line 422, ../sass/styles-rtl.scss */
.forum-posted-on {
  float: right;
}

/* line 426, ../sass/styles-rtl.scss */
.forum-post-number {
  float: left;
  margin-right: 0;
  margin-left: 5px;
}

/* line 433, ../sass/styles-rtl.scss */
.forum-topic-header .topic-post-count {
  margin-top: 4px;
}

/* line 438, ../sass/styles-rtl.scss */
.forum-post-panel-sub {
  float: right;
}
/* line 443, ../sass/styles-rtl.scss */
.forum-post-panel-sub .author-pane .author-pane-link-line span:before {
  margin-right: 0;
  margin-left: 5px;
}

/* line 452, ../sass/styles-rtl.scss */
.forum-post-panel-main {
  margin-left: 0;
  margin-right: 185px;
  border-left: none;
  border-right: 1px solid #eaeaea;
}

/* line 459, ../sass/styles-rtl.scss */
#stcpDiv {
  left: auto !important;
}

/* line 464, ../sass/styles-rtl.scss */
.forum-post-footer .forum-jump-links {
  left: auto;
  right: 15px;
}
/* line 468, ../sass/styles-rtl.scss */
.forum-post-footer .af-button-small span:before {
  margin-right: 0;
  margin-left: 5px;
}

/* line 475, ../sass/styles-rtl.scss */
ul.inline,
ul.links.inline {
  padding-right: 0;
}

/* line 479, ../sass/styles-rtl.scss */
.forum-post-links {
  text-align: right;
}
/* line 482, ../sass/styles-rtl.scss */
.forum-post-links ul.links li.sharethis {
  float: left;
}
/* line 485, ../sass/styles-rtl.scss */
.forum-post-links ul.links li {
  margin-right: 0;
  margin-left: 5px;
}

/* line 495, ../sass/styles-rtl.scss */
.sharethis-buttons .st_facebook_custom,
.sharethis-buttons .st_googleplus_custom,
.views-field-sharethis .st_facebook_custom,
.views-field-sharethis .st_googleplus_custom {
  margin-left: 0;
  margin-right: 2px;
}

/* comment form */
/* line 505, ../sass/styles-rtl.scss */
.comment-form .form-actions .form-submit {
  margin-right: 0;
  margin-left: 10px;
}

/* faq page */
/* line 516, ../sass/styles-rtl.scss */
.faq #faq-expand-all {
  text-align: left;
}
/* line 520, ../sass/styles-rtl.scss */
.faq .faq-question a {
  padding-right: 20px;
  padding-left: 0;
}
/* line 523, ../sass/styles-rtl.scss */
.faq .faq-question a:before {
  left: auto;
  right: 0;
}

/* line 531, ../sass/styles-rtl.scss */
.calendar-calendar th.days {
  text-align: right;
}

/* article page */
/* line 538, ../sass/styles-rtl.scss */
.views-field-field-tags {
  float: right;
}
/* line 540, ../sass/styles-rtl.scss */
.views-field-field-tags .item-list ul li {
  margin-left: 1px;
  margin-right: 0;
}

/* line 548, ../sass/styles-rtl.scss */
.field-name-field-tags .field-label,
.field-name-field-section .field-label,
.field-name-field-category .field-label {
  float: right;
  margin-right: 0;
  margin-left: 5px;
}

/* line 556, ../sass/styles-rtl.scss */
.forum-blog-view .views-row .views-field-view-node {
  float: left;
}
/* line 560, ../sass/styles-rtl.scss */
.forum-blog-view .views-row .forum-node-footer .views-field {
  float: right;
  margin-right: 0;
  margin-left: 20px;
}
/* line 566, ../sass/styles-rtl.scss */
.forum-blog-view .views-row .forum-node-footer .sharethis-buttons,
.forum-blog-view .views-row .forum-node-footer .views-field-sharethis {
  float: left !important;
  margin-right: 20px !important;
  margin-left: 0 !important;
}
/* line 572, ../sass/styles-rtl.scss */
.forum-blog-view .views-row .views-field-picture {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}

/* line 582, ../sass/styles-rtl.scss */
.mix-blog .views-field-field-image,
.mix-blog .views-field-field-video-link {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

/* node */
/* line 593, ../sass/styles-rtl.scss */
.node .user-picture {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}
/* line 599, ../sass/styles-rtl.scss */
.node ul.inline li {
  padding-right: 0;
  padding-left: 5px;
}
/* line 603, ../sass/styles-rtl.scss */
.node ul.inline li.node-readmore {
  float: left;
}
/* line 608, ../sass/styles-rtl.scss */
.node .sharethis-buttons,
.node .views-field-sharethis {
  float: left !important;
}
/* line 611, ../sass/styles-rtl.scss */
.node .submitted span {
  margin-right: 0;
  margin-left: 10px;
}

/* line 620, ../sass/styles-rtl.scss */
.node-teaser .inline li,
.node-blog .inline li {
  float: right;
  margin-right: 0;
  margin-left: 5px;
}
/* line 625, ../sass/styles-rtl.scss */
.node-teaser .inline li.sharethis,
.node-blog .inline li.sharethis {
  padding-left: 0;
}

/* line 632, ../sass/styles-rtl.scss */
ul.inline li.comment-comments {
  margin-right: 0;
  margin-left: 10px;
}
/* line 635, ../sass/styles-rtl.scss */
ul.inline li.comment-comments:before {
  padding-right: 0;
  padding-left: 5px;
}
/* line 641, ../sass/styles-rtl.scss */
ul.inline li.statistics_counter:before {
  margin-left: 5px;
}

/* .comment */
/* line 650, ../sass/styles-rtl.scss */
.comment {
  padding-left: 15px;
  padding-right: 65px;
}
/* line 653, ../sass/styles-rtl.scss */
.comment .user-picture {
  margin: 0;
  left: auto;
  right: 0;
}
/* line 658, ../sass/styles-rtl.scss */
.comment .submitted .info {
  margin-right: 0;
  margin-left: 20px;
}

/* what news page */
/* line 668, ../sass/styles-rtl.scss */
.activity-stream .views-row {
  padding-left: 15px;
  padding-right: 80px;
}
/* line 671, ../sass/styles-rtl.scss */
.activity-stream .views-row .views-field-picture {
  float: right;
  margin-right: 0;
  margin-left: 0;
  left: auto;
  right: 15px;
}
/* line 679, ../sass/styles-rtl.scss */
.activity-stream .views-field-created {
  float: left;
}
/* line 683, ../sass/styles-rtl.scss */
.activity-stream .views-field-comment-count,
.activity-stream .views-field-totalcount {
  margin-left: 10px;
  margin-right: 0;
}

/* contact page */
/* line 693, ../sass/styles-rtl.scss */
.contact-content .fa {
  margin-right: 0;
  margin-left: 5px;
}

/* line 699, ../sass/styles-rtl.scss */
.headline .social-list li {
  margin-right: 0;
  margin-left: 15px;
}

/* line 704, ../sass/styles-rtl.scss */
.change-skin-menu-wrapper .change-layout-button:first-child {
  border-right: 1px solid #ccc;
}

/* line 709, ../sass/styles-rtl.scss */
.field-multiple-table tbody label {
  padding-left: 10px;
  padding-right: 0;
}
/* line 713, ../sass/styles-rtl.scss */
.field-multiple-table tbody .form-type-managed-file .image-widget .form-file {
  margin-left: 10px;
  margin-right: 0;
  float: right;
}

/* line 720, ../sass/styles-rtl.scss */
.field-add-more-submit {
  float: left;
}

/* line 724, ../sass/styles-rtl.scss */
.item-list .pager {
  text-align: left;
}

/* line 729, ../sass/styles-rtl.scss */
.page-comment-reply .comment {
  padding-right: 80px;
}
/* line 731, ../sass/styles-rtl.scss */
.page-comment-reply .comment .user-picture {
  right: 15px;
}

/* line 737, ../sass/styles-rtl.scss */
.forum-topic-header .topic-post-count {
  clear: left;
  float: left;
  margin-left: 7px;
  margin-right: 0;
}

/* line 750, ../sass/styles-rtl.scss */
.forum-topic-header .topic-reply-link,
.forum-topic-header .topic-new-post-link,
.forum-topic-header .last-post-link {
  margin-right: 0;
  margin-left: 10px;
}

/* line 760, ../sass/styles-rtl.scss */
#modalContent #modal-content form .item-list {
  float: right;
}
/* line 762, ../sass/styles-rtl.scss */
#modalContent #modal-content form .item-list li {
  float: right;
  margin-left: 0px;
}
/* line 765, ../sass/styles-rtl.scss */
#modalContent #modal-content form .item-list li:before {
  margin-left: 5px;
}
/* line 770, ../sass/styles-rtl.scss */
#modalContent #modal-content form .form-submit {
  float: left;
  margin-left: 0;
  margin-right: 5px;
}

/* line 777, ../sass/styles-rtl.scss */
.contact-form .form-type-checkbox .form-checkbox {
  margin-left: 5px;
  margin-right: 0;
  float: right;
}

/********************
* Mobile menu *
********************/
/* line 788, ../sass/styles-rtl.scss */
.uk-offcanvas-bar {
  left: auto;
  right: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(100%);
}
/* line 793, ../sass/styles-rtl.scss */
.uk-offcanvas-bar ul.menu {
  padding-right: 0;
}
/* line 795, ../sass/styles-rtl.scss */
.uk-offcanvas-bar ul.menu > li {
  margin-right: 0;
  padding-left: 0;
}
/* line 798, ../sass/styles-rtl.scss */
.uk-offcanvas-bar ul.menu > li ul {
  padding: 5px 30px 15px 0;
}
/* line 802, ../sass/styles-rtl.scss */
.uk-offcanvas-bar ul.menu .expanded > a:before {
  left: 10px;
  right: auto;
}

/* line 809, ../sass/styles-rtl.scss */
.uk-offcanvas-bar-flip {
  left: 0;
  right: auto;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

/* line 816, ../sass/styles-rtl.scss */
.off-canvas-toggle {
  float: left;
}

/* responsive layout */
@media (max-width: 991px) {
  /* line 824, ../sass/styles-rtl.scss */
  #page {
    /* --- Mobile menu --- */
    /* End Mobile menu */
  }
  /* line 825, ../sass/styles-rtl.scss */
  #page .navbar-toggle {
    right: auto;
    left: 15px;
  }
  /* line 829, ../sass/styles-rtl.scss */
  #page .navbar-default ul.menu {
    text-align: right;
  }
  /* line 833, ../sass/styles-rtl.scss */
  .html #page {
    left: 0;
    right: auto;
  }
  /* line 836, ../sass/styles-rtl.scss */
  .html #page.toggled {
    left: 250px;
    right: auto;
  }
  /* line 839, ../sass/styles-rtl.scss */
  .html #page.toggled #main-menu-inner {
    left: 0;
    right: auto;
  }
  /* line 845, ../sass/styles-rtl.scss */
  #page .overlay {
    left: auto;
    right: 0;
  }
  /* line 849, ../sass/styles-rtl.scss */
  #page #main-menu-inner {
    left: -250px;
    right: auto;
  }
  /* line 852, ../sass/styles-rtl.scss */
  #page #main-menu-inner ul.menu {
    padding-right: 0;
  }
  /* line 854, ../sass/styles-rtl.scss */
  #page #main-menu-inner ul.menu > li {
    margin-right: 0;
    padding-left: 0;
  }
  /* line 857, ../sass/styles-rtl.scss */
  #page #main-menu-inner ul.menu > li ul {
    padding: 5px 30px 15px 0;
  }
  /* line 860, ../sass/styles-rtl.scss */
  #page #main-menu-inner ul.menu > li ul li ul {
    padding-left: 0;
    padding-right: 20px;
  }
  /* line 867, ../sass/styles-rtl.scss */
  #page #main-menu-inner ul.menu .expanded > a:before {
    left: 10px;
    right: auto;
  }
}
@media (max-width: 767px) {
  /* line 879, ../sass/styles-rtl.scss */
  #page #panel-footer .last-block {
    text-align: right;
  }
  /* line 882, ../sass/styles-rtl.scss */
  #page #panel-footer .social-list {
    float: right;
  }
}
@media (max-width: 640px) {
  /* line 889, ../sass/styles-rtl.scss */
  ul.inline li.blog_usernames_blog {
    float: left;
  }

  /* line 894, ../sass/styles-rtl.scss */
  #page .node-forum-form .form-managed-file .form-file,
  #page .node-forum-form .form-managed-file .form-submit {
    float: none;
    display: inline-block;
  }
}
@media (max-width: 480px) {
  /* line 902, ../sass/styles-rtl.scss */
  .forum-post-panel-main {
    margin-right: 0;
  }

  /* line 906, ../sass/styles-rtl.scss */
  #page .node-teaser ul.inline li.comment-comments {
    float: right;
  }

  /* line 911, ../sass/styles-rtl.scss */
  .forum-post-panel-sub .author-pane .picture img {
    float: right;
    margin-right: 0;
    margin-left: 15px;
  }
}
@media (max-width: 479px) {
  /* line 921, ../sass/styles-rtl.scss */
  #page .node-forum-form .form-managed-file .form-file,
  #page .node-forum-form .form-managed-file .form-submit {
    display: block;
  }
}
@media (max-width: 360px) {
  /* line 927, ../sass/styles-rtl.scss */
  .comment {
    padding-right: 15px;
  }
  /* line 929, ../sass/styles-rtl.scss */
  .comment .user-picture {
    margin-left: 15px;
    margin-bottom: 5px;
  }

  /* line 934, ../sass/styles-rtl.scss */
  .indented {
    padding-left: 0;
    padding-right: 25px;
  }

  /* login */
  /* line 942, ../sass/styles-rtl.scss */
  .logged-in .node-form .form-managed-file .form-file,
  .logged-in .node-form .form-managed-file .form-submit {
    float: right;
  }
}
@media (max-width: 320px) {
  /* line 952, ../sass/styles-rtl.scss */
  .forum-topic-header .topic-reply-link,
  .forum-topic-header .topic-new-post-link,
  .forum-topic-header .last-post-link {
    margin-right: 0 !important;
    margin-left: 5px !important;
  }
}
