// =============================================================================
// TYPOGRAPHY
// =============================================================================
$font-body: 'Lato', sans-serif;

// =============================================================================
// FONT WEIGHT
// =============================================================================
$font-primary: 700;
$font-light: 300;
$font-hairline: 100;


// =============================================================================
// FONT SIZE
// =============================================================================
$body-fs: 15px;
$fs-10: 0.667em;
$fs-12: 0.8em;
$fs-13: 0.867em;
$fs-14: 0.933em;
$fs-15: 1em;
$fs-16: 1.067em;
$fs-17: 1.133em;
$fs-18: 1.2em;
$fs-20: 1.333em;
$fs-25: 1.667em;

// =============================================================================
// COLOR
// =============================================================================
$light-dark: #f0f0f0;
$black: #000;
$lighter-black: #181818;
$dark: #333;
$lighter-dark: #4e4e4e;
$white: #fff;
$grey: #eaeaea;
$dark-grey: #7d7d7d;
$dark-grey-1: #555555;
$dark-grey-2: #888888;
$light-grey: #999999;
$lighter-grey: #c3c3c3;
$blue: #348bc2;
$border-color: #ededed;

$red: #da3e3e;
$light-dark: #3d3d3d;
$orange: #e6d330;
$green: #5cc992;