/*---- html ------*/
/* line 5, ../../../sass/colors/green/style.scss */
a {
  color: #5cc992;
}
/* line 7, ../../../sass/colors/green/style.scss */
a:hover, a:focus {
  color: #7d7d7d;
}

/* line 13, ../../../sass/colors/green/style.scss */
.node blockquote {
  border-left-color: #5cc992;
}
/* line 18, ../../../sass/colors/green/style.scss */
.node .blockquote-reverse,
.node blockquote.pull-right {
  border-right-color: #5cc992;
}

/*---- Block -----*/
/* line 25, ../../../sass/colors/green/style.scss */
.sidebar h2 {
  background: #5cc992;
}
/* line 30, ../../../sass/colors/green/style.scss */
.sidebar .item-list .quicktabs-tabs li a {
  background: #5cc992;
}
/* line 34, ../../../sass/colors/green/style.scss */
.sidebar .item-list .quicktabs-tabs li.active a {
  color: #5cc992;
}
/* line 43, ../../../sass/colors/green/style.scss */
.sidebar .item-list ul li a:hover, .sidebar .item-list ul li a:focus {
  color: #5cc992;
}
/* line 52, ../../../sass/colors/green/style.scss */
.sidebar .quicktabs-tabpage .views-field-title a:hover, .sidebar .quicktabs-tabpage .views-field-title a:focus {
  color: #5cc992;
}
/* line 61, ../../../sass/colors/green/style.scss */
.sidebar ul.menu li a:hover, .sidebar ul.menu li a:focus {
  color: #5cc992;
}
/* line 66, ../../../sass/colors/green/style.scss */
.sidebar ul.menu li.expanded > a {
  color: #5cc992;
}
/* line 68, ../../../sass/colors/green/style.scss */
.sidebar ul.menu li.expanded > a:after {
  border-bottom: 5px solid #5cc992;
}

/* line 79, ../../../sass/colors/green/style.scss */
.faq-question.faq-qa-visible .active {
  color: #5cc992;
}

/* Login form */
/* line 88, ../../../sass/colors/green/style.scss */
#modalContent .popups-container .modal-header {
  background: #5cc992;
}
/* line 92, ../../../sass/colors/green/style.scss */
#modalContent .popups-container #modal-content form .form-submit {
  background: #348bc2;
}
/* line 94, ../../../sass/colors/green/style.scss */
#modalContent .popups-container #modal-content form .form-submit:hover, #modalContent .popups-container #modal-content form .form-submit:focus {
  background: #5cc992;
}
/* line 99, ../../../sass/colors/green/style.scss */
#modalContent .popups-container #modal-content form .item-list li a:hover, #modalContent .popups-container #modal-content form .item-list li a:focus {
  color: #5cc992;
}

/*----- menu -----*/
/* line 115, ../../../sass/colors/green/style.scss */
.navbar-default ul.menu li a.active, .navbar-default ul.menu li a.active-trail, .navbar-default ul.menu li a:hover, .navbar-default ul.menu li a:focus {
  background: #5cc992;
}
/* line 123, ../../../sass/colors/green/style.scss */
.navbar-default ul.menu li.expanded ul.menu li a:hover, .navbar-default ul.menu li.expanded ul.menu li a:focus, .navbar-default ul.menu li.expanded ul.menu li a.active-trail {
  background: white;
  color: #5cc992;
}
/* line 131, ../../../sass/colors/green/style.scss */
.navbar-default ul.menu li.expanded ul.menu li.expanded ul.menu li a:hover, .navbar-default ul.menu li.expanded ul.menu li.expanded ul.menu li a:focus {
  background: #5cc992;
}

/*----- Navigation -----*/
/* line 147, ../../../sass/colors/green/style.scss */
.action-links li a {
  background: #5cc992;
}
/* line 149, ../../../sass/colors/green/style.scss */
.action-links li a:hover, .action-links li a:focus {
  background: #333333;
}
/* line 154, ../../../sass/colors/green/style.scss */
.action-links.action-links-field-collection-add li a {
  color: #5cc992;
}
/* line 156, ../../../sass/colors/green/style.scss */
.action-links.action-links-field-collection-add li a:hover, .action-links.action-links-field-collection-add li a:focus {
  background-color: transparent;
}

/* pager */
/* line 164, ../../../sass/colors/green/style.scss */
.item-list .pager li:hover a, .item-list .pager li:focus a, .item-list .pager .pager-current {
  background: #5cc992;
}
/* line 168, ../../../sass/colors/green/style.scss */
.item-list .pager li a:hover, .item-list .pager li a:focus {
  background-color: #5cc992;
}

/* Primary */
/* line 178, ../../../sass/colors/green/style.scss */
ul.primary li a:hover, ul.primary li a:focus, ul.primary li a.active {
  color: #5cc992;
}

/* line 187, ../../../sass/colors/green/style.scss */
.block-tagclouds .tagclouds-term a:hover, .block-tagclouds .tagclouds-term a:focus {
  border-color: #5cc992;
  background: #5cc992;
}

/* Back to top */
/* line 195, ../../../sass/colors/green/style.scss */
.btn-btt {
  background: #5cc992;
}
/* line 197, ../../../sass/colors/green/style.scss */
.btn-btt:hover, .btn-btt:focus {
  background: #333333;
}

/* Button sidebar link */
/* line 203, ../../../sass/colors/green/style.scss */
.button-sidebar-link {
  background: #5cc992;
}

/*----- Page -----*/
/* line 209, ../../../sass/colors/green/style.scss */
.form-submit,
.form-actions > a {
  background: #348bc2;
  border-color: #348bc2;
}
/* line 212, ../../../sass/colors/green/style.scss */
.form-submit:hover, .form-submit:focus,
.form-actions > a:hover,
.form-actions > a:focus {
  background: #5cc992;
  border-color: #5cc992;
}

/* Headline */
/* line 222, ../../../sass/colors/green/style.scss */
.headline .social-list li a:hover, .headline .social-list li a:focus {
  color: #5cc992;
}
/* line 228, ../../../sass/colors/green/style.scss */
.headline #block-search-form:hover:before {
  color: #5cc992;
}
/* line 235, ../../../sass/colors/green/style.scss */
.headline .block-menu ul.menu a:hover, .headline .block-menu ul.menu a:focus {
  color: #5cc992;
}

/* Header */
/* line 245, ../../../sass/colors/green/style.scss */
.header:after {
  background: #5cc992;
}

/* Search */
/* line 251, ../../../sass/colors/green/style.scss */
.search-wrapper {
  background: #5cc992;
}

/* Breadcrumb */
/* line 258, ../../../sass/colors/green/style.scss */
.breadcrumb a:hover, .breadcrumb a:focus {
  color: #5cc992;
}

/* line 264, ../../../sass/colors/green/style.scss */
.section-title {
  background: url("images/bg-banner.jpg") no-repeat 50% 0 #d05a66;
}

/* Panel */
/* line 270, ../../../sass/colors/green/style.scss */
#panel-first a {
  color: #5cc992;
}
/* line 272, ../../../sass/colors/green/style.scss */
#panel-first a:hover, #panel-first a:focus {
  text-decoration: underline;
}

/* line 283, ../../../sass/colors/green/style.scss */
#panel-second .block ul.menu li a:hover, #panel-second .block ul.menu li a:focus {
  color: #5cc992;
}
/* line 295, ../../../sass/colors/green/style.scss */
#panel-second .block .lang_dropdown_form .form-item .dd-select .dd-pointer-up {
  border-bottom-color: #5cc992 !important;
}

/* line 309, ../../../sass/colors/green/style.scss */
#panel-footer ul.menu li a:hover, #panel-footer ul.menu li a:focus {
  color: #5cc992;
}
/* line 311, ../../../sass/colors/green/style.scss */
#panel-footer ul.menu li a:hover:before, #panel-footer ul.menu li a:focus:before {
  color: #5cc992;
}
/* line 318, ../../../sass/colors/green/style.scss */
#panel-footer a {
  color: #5cc992;
}
/* line 323, ../../../sass/colors/green/style.scss */
#panel-footer .views-field-title a:hover, #panel-footer .views-field-title a:focus {
  color: #5cc992;
}
/* line 330, ../../../sass/colors/green/style.scss */
#panel-footer .views-field-name .username,
#panel-footer .views-field-created .username {
  color: #5cc992;
}
/* line 335, ../../../sass/colors/green/style.scss */
#panel-footer .social-list li a {
  color: #5cc992;
}

/* Forum */
/* line 347, ../../../sass/colors/green/style.scss */
#forum .forum-table td .forum-name a:hover, #forum .forum-table td .forum-name a:focus {
  color: #5cc992;
}

/* Footer */
/* line 362, ../../../sass/colors/green/style.scss */
#footer .block ul.menu li a:hover, #footer .block ul.menu li a:focus, #footer .block ul.menu li a.active {
  color: #5cc992;
}

/* line 373, ../../../sass/colors/green/style.scss */
.forum-table-topics td.views-field-title span:hover, .forum-table-topics td.views-field-title span:focus, .forum-table-topics td.views-field-title .topic-title:hover, .forum-table-topics td.views-field-title .topic-title:focus {
  color: #5cc992;
}
/* line 377, ../../../sass/colors/green/style.scss */
.forum-table-topics td.views-field-title .username {
  color: #5cc992;
}

/* line 386, ../../../sass/colors/green/style.scss */
.topic-icon-hot-new:before,
.topic-icon-new:before,
.topic-icon-sticky:before,
td.forum-list-icon-new-posts span:before,
.forum-list-text-legend-new-posts:before {
  color: #5cc992 !important;
}

/* Table name and description on forum list and table header on topic list */
/* line 397, ../../../sass/colors/green/style.scss */
.forum-table-wrap .forum-table-superheader,
.forum-table-topics thead tr,
#forum .forum-table thead tr,
.forum-post-info,
#user-login h3,
#user-register-form h3,
#user-pass h3, .profile h3 {
  background: #5cc992 !important;
}

/* line 403, ../../../sass/colors/green/style.scss */
.forum-tools form > div:before {
  border-top: 5px solid #5cc992;
}

/* View */
/* line 412, ../../../sass/colors/green/style.scss */
.views-field-title a:hover, .views-field-title a:focus,
.views-field-subject a:hover,
.views-field-subject a:focus {
  color: #5cc992;
}

/* line 419, ../../../sass/colors/green/style.scss */
.views-field-name .username,
.views-field-created .username {
  color: #5cc992;
}

/* line 426, ../../../sass/colors/green/style.scss */
.forum-blog-view .views-row .views-field-title a:hover,
.forum-blog-view .views-row .views-field-title a:focus {
  color: #5cc992;
}

/* line 434, ../../../sass/colors/green/style.scss */
.views-field-field-tags .item-list ul li a:hover, .views-field-field-tags .item-list ul li a:focus {
  border-color: #5cc992;
  background: #5cc992;
}

/* line 445, ../../../sass/colors/green/style.scss */
.field-name-field-tags div,
.field-name-field-section div,
.field-name-field-category div {
  display: inline-block;
}
/* line 449, ../../../sass/colors/green/style.scss */
.field-name-field-tags div + div a:hover, .field-name-field-tags div + div a:focus,
.field-name-field-section div + div a:hover,
.field-name-field-section div + div a:focus,
.field-name-field-category div + div a:hover,
.field-name-field-category div + div a:focus {
  background: #5cc992;
}

/* line 462, ../../../sass/colors/green/style.scss */
.field-name-field-tags .field-items .field-item a:hover,
.field-name-field-tags .field-items .field-item a:focus,
.field-name-field-section .field-items .field-item a:hover,
.field-name-field-section .field-items .field-item a:focus,
.field-name-field-category .field-items .field-item a:hover,
.field-name-field-category .field-items .field-item a:focus {
  border-color: #5cc992;
  background: #5cc992;
}

/* Node */
/* line 470, ../../../sass/colors/green/style.scss */
.node h2 a:hover, .node h2 a:focus {
  color: #5cc992;
}
/* line 474, ../../../sass/colors/green/style.scss */
.node .submitted .username {
  color: #5cc992;
}

/* line 479, ../../../sass/colors/green/style.scss */
.calendar-calendar {
  background: #5cc992;
}

/* line 483, ../../../sass/colors/green/style.scss */
span.username {
  color: #5cc992;
}

/* line 489, ../../../sass/colors/green/style.scss */
.views-field-field-video-link a:before {
  color: #5cc992;
}

/* Page 404 */
/* line 497, ../../../sass/colors/green/style.scss */
.page-404 h1 {
  color: #5cc992;
}
/* line 501, ../../../sass/colors/green/style.scss */
.page-404 #errorbox a:hover, .page-404 #errorbox a:focus {
  background: #5cc992;
}

/* FAQs */
/* line 511, ../../../sass/colors/green/style.scss */
.faq .faq-question a:hover, .faq .faq-question a:focus {
  color: #5cc992;
}
/* line 514, ../../../sass/colors/green/style.scss */
.faq .faq-question a:before {
  color: #5cc992;
}
/* line 519, ../../../sass/colors/green/style.scss */
.faq .faq-question.faq-qa-visible a {
  color: #5cc992;
}

/* line 530, ../../../sass/colors/green/style.scss */
#content .forum-jump-links a.af-button-large:hover, #content .forum-jump-links a.af-button-large:focus,
#content .forum-jump-links a.af-button-small:hover,
#content .forum-jump-links a.af-button-small:focus,
#content .forum-jump-links a.author-pane-link:hover,
#content .forum-jump-links a.author-pane-link:focus {
  color: #5cc992;
}

/* line 536, ../../../sass/colors/green/style.scss */
.off-canvas-toggle {
  color: #5cc992;
}
/* line 538, ../../../sass/colors/green/style.scss */
.off-canvas-toggle:hover, .off-canvas-toggle:focus {
  color: #5cc992;
}

/* line 546, ../../../sass/colors/green/style.scss */
ul.inline li a.active:hover, ul.inline li a.active:focus {
  color: #5cc992;
}

/* Forum advance */
/* line 557, ../../../sass/colors/green/style.scss */
.af-button-large,
.af-button-small,
.author-pane-link,
.forum-post-links ul.links li a {
  background: #5cc992;
}

/* line 564, ../../../sass/colors/green/style.scss */
.item-list .pager .pager-previous a:before,
.item-list .pager .pager-next a:before {
  color: #5cc992;
}

/* line 573, ../../../sass/colors/green/style.scss */
.comment ul.inline li a:hover, .comment ul.inline li a:focus {
  background: #5cc992;
  color: white;
  border-color: #5cc992;
}

/* line 584, ../../../sass/colors/green/style.scss */
.forum-jump-links .af-button-large:hover, .forum-jump-links .af-button-large:focus, .forum-jump-links .af-button-small:hover, .forum-jump-links .af-button-small:focus, .forum-jump-links .author-pane-link:hover, .forum-jump-links .author-pane-link:focus {
  background: transparent !important;
  color: #5cc992 !important;
}

/*******/
/* line 592, ../../../sass/colors/green/style.scss */
span.forum-collapsible {
  background: #3fa572;
}

/* line 597, ../../../sass/colors/green/style.scss */
td.forum-last-reply a:hover, td.forum-last-reply a:focus {
  color: #5cc992;
}

/* line 603, ../../../sass/colors/green/style.scss */
.forum-table-topics td.views-field-title:hover span, .forum-table-topics td.views-field-title:hover .topic-title, .forum-table-topics td.views-field-title:hover .sticky-label, .forum-table-topics td.views-field-title:focus span, .forum-table-topics td.views-field-title:focus .topic-title, .forum-table-topics td.views-field-title:focus .sticky-label {
  color: #5cc992;
}

/* line 607, ../../../sass/colors/green/style.scss */
.icon-search-hover, .headline #block-search-form:hover:before {
  background-position: 0 0;
}

/* line 616, ../../../sass/colors/green/style.scss */
#panel-footer .social-list li a:hover:before, #panel-footer .social-list li a:focus:before {
  color: #5cc992;
}

/* line 627, ../../../sass/colors/green/style.scss */
#advanced-forum-forum-topic-list-sort-form input:hover, #advanced-forum-forum-topic-list-sort-form input:focus {
  background-color: #5cc992;
}

/* line 632, ../../../sass/colors/green/style.scss */
.chosen-container-active.chosen-with-drop .chosen-single {
  color: #5cc992;
}
/* line 634, ../../../sass/colors/green/style.scss */
.chosen-container-active.chosen-with-drop .chosen-single:before {
  border-bottom-color: #5cc992;
}

/* line 641, ../../../sass/colors/green/style.scss */
.chosen-container .chosen-results li:hover, .chosen-container .chosen-results li:focus, .chosen-container .chosen-results li.highlighted {
  background-color: #5cc992;
}

/* line 649, ../../../sass/colors/green/style.scss */
.comment h3 a:hover, .comment h3 a:focus {
  color: #5cc992;
}

/* line 655, ../../../sass/colors/green/style.scss */
ul.inline li.comment-comments a:hover, ul.inline li.comment-comments a:focus {
  color: #5cc992;
}

/* line 660, ../../../sass/colors/green/style.scss */
td.forum-last-reply .username {
  color: #5cc992;
}

/* line 664, ../../../sass/colors/green/style.scss */
.forum-post-panel-sub .author-pane .author-name .username {
  color: #5cc992;
}
