/*---- html ------*/
/* line 5, ../../../sass/colors/yellow/style.scss */
a {
  color: #e6d330;
}
/* line 7, ../../../sass/colors/yellow/style.scss */
a:hover, a:focus {
  color: #7d7d7d;
}

/* line 13, ../../../sass/colors/yellow/style.scss */
.node blockquote {
  border-left-color: #e6d330;
}
/* line 18, ../../../sass/colors/yellow/style.scss */
.node .blockquote-reverse,
.node blockquote.pull-right {
  border-right-color: #e6d330;
}

/*---- Block -----*/
/* line 26, ../../../sass/colors/yellow/style.scss */
.sidebar h2 {
  background: #e6d330;
}
/* line 31, ../../../sass/colors/yellow/style.scss */
.sidebar .item-list .quicktabs-tabs li a {
  background: #e6d330;
}
/* line 35, ../../../sass/colors/yellow/style.scss */
.sidebar .item-list .quicktabs-tabs li.active a {
  color: #e6d330;
}
/* line 44, ../../../sass/colors/yellow/style.scss */
.sidebar .item-list ul li a:hover, .sidebar .item-list ul li a:focus {
  color: #e6d330;
}
/* line 53, ../../../sass/colors/yellow/style.scss */
.sidebar .quicktabs-tabpage .views-field-title a:hover, .sidebar .quicktabs-tabpage .views-field-title a:focus {
  color: #e6d330;
}
/* line 62, ../../../sass/colors/yellow/style.scss */
.sidebar ul.menu li a:hover, .sidebar ul.menu li a:focus {
  color: #e6d330;
}
/* line 67, ../../../sass/colors/yellow/style.scss */
.sidebar ul.menu li.expanded > a {
  color: #e6d330;
}
/* line 69, ../../../sass/colors/yellow/style.scss */
.sidebar ul.menu li.expanded > a:after {
  border-bottom: 5px solid #e6d330;
}

/* line 80, ../../../sass/colors/yellow/style.scss */
.faq-question.faq-qa-visible .active {
  color: #e6d330;
}

/* Login form */
/* line 89, ../../../sass/colors/yellow/style.scss */
#modalContent .popups-container .modal-header {
  background: #e6d330;
}
/* line 93, ../../../sass/colors/yellow/style.scss */
#modalContent .popups-container #modal-content form .form-submit {
  background: #c2c40f;
}
/* line 95, ../../../sass/colors/yellow/style.scss */
#modalContent .popups-container #modal-content form .form-submit:hover, #modalContent .popups-container #modal-content form .form-submit:focus {
  background: #e6d330;
}
/* line 100, ../../../sass/colors/yellow/style.scss */
#modalContent .popups-container #modal-content form .item-list li a:hover, #modalContent .popups-container #modal-content form .item-list li a:focus {
  color: #e6d330;
}

/*----- menu -----*/
/* line 116, ../../../sass/colors/yellow/style.scss */
.navbar-default ul.menu li a.active, .navbar-default ul.menu li a.active-trail, .navbar-default ul.menu li a:hover, .navbar-default ul.menu li a:focus {
  background: #e6d330;
}
/* line 124, ../../../sass/colors/yellow/style.scss */
.navbar-default ul.menu li.expanded ul.menu li a:hover, .navbar-default ul.menu li.expanded ul.menu li a:focus, .navbar-default ul.menu li.expanded ul.menu li a.active-trail {
  background: white;
  color: #e6d330;
}
/* line 132, ../../../sass/colors/yellow/style.scss */
.navbar-default ul.menu li.expanded ul.menu li.expanded ul.menu li a:hover, .navbar-default ul.menu li.expanded ul.menu li.expanded ul.menu li a:focus {
  background: #e6d330;
}

/*----- Navigation -----*/
/* line 148, ../../../sass/colors/yellow/style.scss */
.action-links li a {
  background: #e6d330;
}
/* line 150, ../../../sass/colors/yellow/style.scss */
.action-links li a:hover, .action-links li a:focus {
  background: #333333;
}
/* line 155, ../../../sass/colors/yellow/style.scss */
.action-links.action-links-field-collection-add li a {
  color: #e6d330;
}
/* line 157, ../../../sass/colors/yellow/style.scss */
.action-links.action-links-field-collection-add li a:hover, .action-links.action-links-field-collection-add li a:focus {
  background-color: transparent;
}

/* pager */
/* line 165, ../../../sass/colors/yellow/style.scss */
.item-list .pager li:hover a, .item-list .pager li:focus a, .item-list .pager .pager-current {
  background: #e6d330;
}
/* line 169, ../../../sass/colors/yellow/style.scss */
.item-list .pager li a:hover, .item-list .pager li a:focus {
  background-color: #e6d330;
}

/* Primary */
/* line 179, ../../../sass/colors/yellow/style.scss */
ul.primary li a:hover, ul.primary li a:focus, ul.primary li a.active {
  color: #e6d330;
}

/* line 188, ../../../sass/colors/yellow/style.scss */
.block-tagclouds .tagclouds-term a:hover, .block-tagclouds .tagclouds-term a:focus {
  border-color: #e6d330;
  background: #e6d330;
}

/* Back to top */
/* line 196, ../../../sass/colors/yellow/style.scss */
.btn-btt {
  background: #e6d330;
}
/* line 198, ../../../sass/colors/yellow/style.scss */
.btn-btt:hover, .btn-btt:focus {
  background: #333333;
}

/* Button sidebar link */
/* line 204, ../../../sass/colors/yellow/style.scss */
.button-sidebar-link {
  background: #e6d330;
}

/*----- Page -----*/
/* line 210, ../../../sass/colors/yellow/style.scss */
.form-submit,
.form-actions > a {
  background: #c2c40f;
  border-color: #c2c40f;
}
/* line 213, ../../../sass/colors/yellow/style.scss */
.form-submit:hover, .form-submit:focus,
.form-actions > a:hover,
.form-actions > a:focus {
  background: #e6d330;
  border-color: #e6d330;
}

/* Headline */
/* line 223, ../../../sass/colors/yellow/style.scss */
.headline .social-list li a:hover, .headline .social-list li a:focus {
  color: #e6d330;
}
/* line 229, ../../../sass/colors/yellow/style.scss */
.headline #block-search-form:hover:before {
  color: #e6d330;
}
/* line 236, ../../../sass/colors/yellow/style.scss */
.headline .block-menu ul.menu a:hover, .headline .block-menu ul.menu a:focus {
  color: #e6d330;
}

/* Header */
/* line 246, ../../../sass/colors/yellow/style.scss */
.header:after {
  background: #e6d330;
}

/* Search */
/* line 252, ../../../sass/colors/yellow/style.scss */
.search-wrapper {
  background: #e6d330;
}

/* Breadcrumb */
/* line 259, ../../../sass/colors/yellow/style.scss */
.breadcrumb a:hover, .breadcrumb a:focus {
  color: #e6d330;
}

/* line 265, ../../../sass/colors/yellow/style.scss */
.section-title {
  background: url("images/bg-banner.jpg") no-repeat 50% 0 #d05a66;
}

/* Panel */
/* line 271, ../../../sass/colors/yellow/style.scss */
#panel-first a {
  color: #e6d330;
}
/* line 273, ../../../sass/colors/yellow/style.scss */
#panel-first a:hover, #panel-first a:focus {
  text-decoration: underline;
}

/* line 284, ../../../sass/colors/yellow/style.scss */
#panel-second .block ul.menu li a:hover, #panel-second .block ul.menu li a:focus {
  color: #e6d330;
}
/* line 296, ../../../sass/colors/yellow/style.scss */
#panel-second .block .lang_dropdown_form .form-item .dd-select .dd-pointer-up {
  border-bottom-color: #e6d330 !important;
}

/* line 310, ../../../sass/colors/yellow/style.scss */
#panel-footer ul.menu li a:hover, #panel-footer ul.menu li a:focus {
  color: #e6d330;
}
/* line 312, ../../../sass/colors/yellow/style.scss */
#panel-footer ul.menu li a:hover:before, #panel-footer ul.menu li a:focus:before {
  color: #e6d330;
}
/* line 319, ../../../sass/colors/yellow/style.scss */
#panel-footer a {
  color: #e6d330;
}
/* line 324, ../../../sass/colors/yellow/style.scss */
#panel-footer .views-field-title a:hover, #panel-footer .views-field-title a:focus {
  color: #e6d330;
}
/* line 331, ../../../sass/colors/yellow/style.scss */
#panel-footer .views-field-name .username,
#panel-footer .views-field-created .username {
  color: #e6d330;
}
/* line 336, ../../../sass/colors/yellow/style.scss */
#panel-footer .social-list li a {
  color: #e6d330;
}

/* Forum */
/* line 348, ../../../sass/colors/yellow/style.scss */
#forum .forum-table td .forum-name a:hover, #forum .forum-table td .forum-name a:focus {
  color: #e6d330;
}

/* Footer */
/* line 363, ../../../sass/colors/yellow/style.scss */
#footer .block ul.menu li a:hover, #footer .block ul.menu li a:focus, #footer .block ul.menu li a.active {
  color: #e6d330;
}

/* Forum advance */
/* line 377, ../../../sass/colors/yellow/style.scss */
.af-button-large,
.af-button-small,
.author-pane-link,
.forum-post-links ul.links li a {
  background: #e6d330;
}

/* line 383, ../../../sass/colors/yellow/style.scss */
.forum-table-topics td.views-field-title span:hover, .forum-table-topics td.views-field-title span:focus, .forum-table-topics td.views-field-title .topic-title:hover, .forum-table-topics td.views-field-title .topic-title:focus {
  color: #e6d330;
}
/* line 387, ../../../sass/colors/yellow/style.scss */
.forum-table-topics td.views-field-title .username {
  color: #e6d330;
}

/* line 396, ../../../sass/colors/yellow/style.scss */
.topic-icon-hot-new:before,
.topic-icon-new:before,
.topic-icon-sticky:before,
td.forum-list-icon-new-posts span:before,
.forum-list-text-legend-new-posts:before {
  color: #e6d330 !important;
}

/* Table name and description on forum list and table header on topic list */
/* line 407, ../../../sass/colors/yellow/style.scss */
.forum-table-wrap .forum-table-superheader,
.forum-table-topics thead tr,
#forum .forum-table thead tr,
.forum-post-info,
#user-login h3,
#user-register-form h3,
#user-pass h3, .profile h3 {
  background: #e6d330 !important;
}

/* line 413, ../../../sass/colors/yellow/style.scss */
.forum-tools form > div:before {
  border-top: 5px solid #e6d330;
}

/* View */
/* line 422, ../../../sass/colors/yellow/style.scss */
.views-field-title a:hover, .views-field-title a:focus,
.views-field-subject a:hover,
.views-field-subject a:focus {
  color: #e6d330;
}

/* line 429, ../../../sass/colors/yellow/style.scss */
.views-field-name .username,
.views-field-created .username {
  color: #e6d330;
}

/* line 436, ../../../sass/colors/yellow/style.scss */
.forum-blog-view .views-row .views-field-title a:hover,
.forum-blog-view .views-row .views-field-title a:focus {
  color: #e6d330;
}

/* line 444, ../../../sass/colors/yellow/style.scss */
.views-field-field-tags .item-list ul li a:hover, .views-field-field-tags .item-list ul li a:focus {
  border-color: #e6d330;
  background: #e6d330;
}

/* line 455, ../../../sass/colors/yellow/style.scss */
.field-name-field-tags div,
.field-name-field-section div,
.field-name-field-category div {
  display: inline-block;
}
/* line 459, ../../../sass/colors/yellow/style.scss */
.field-name-field-tags div + div a:hover, .field-name-field-tags div + div a:focus,
.field-name-field-section div + div a:hover,
.field-name-field-section div + div a:focus,
.field-name-field-category div + div a:hover,
.field-name-field-category div + div a:focus {
  background: #e6d330;
}

/* line 472, ../../../sass/colors/yellow/style.scss */
.field-name-field-tags .field-items .field-item a:hover,
.field-name-field-tags .field-items .field-item a:focus,
.field-name-field-section .field-items .field-item a:hover,
.field-name-field-section .field-items .field-item a:focus,
.field-name-field-category .field-items .field-item a:hover,
.field-name-field-category .field-items .field-item a:focus {
  border-color: #e6d330;
  background: #e6d330;
}

/* Node */
/* line 480, ../../../sass/colors/yellow/style.scss */
.node h2 a:hover, .node h2 a:focus {
  color: #e6d330;
}
/* line 484, ../../../sass/colors/yellow/style.scss */
.node .submitted .username {
  color: #e6d330;
}

/* line 489, ../../../sass/colors/yellow/style.scss */
.calendar-calendar {
  background: #e6d330;
}

/* line 493, ../../../sass/colors/yellow/style.scss */
span.username {
  color: #e6d330;
}

/* line 499, ../../../sass/colors/yellow/style.scss */
.views-field-field-video-link a:before {
  color: #e6d330;
}

/* Page 404 */
/* line 507, ../../../sass/colors/yellow/style.scss */
.page-404 h1 {
  color: #e6d330;
}
/* line 511, ../../../sass/colors/yellow/style.scss */
.page-404 #errorbox a:hover, .page-404 #errorbox a:focus {
  background: #e6d330;
}

/* FAQs */
/* line 521, ../../../sass/colors/yellow/style.scss */
.faq .faq-question a:hover, .faq .faq-question a:focus {
  color: #e6d330;
}
/* line 524, ../../../sass/colors/yellow/style.scss */
.faq .faq-question a:before {
  color: #e6d330;
}
/* line 529, ../../../sass/colors/yellow/style.scss */
.faq .faq-question.faq-qa-visible a {
  color: #e6d330;
}

/* line 540, ../../../sass/colors/yellow/style.scss */
#content .forum-jump-links a.af-button-large:hover, #content .forum-jump-links a.af-button-large:focus,
#content .forum-jump-links a.af-button-small:hover,
#content .forum-jump-links a.af-button-small:focus,
#content .forum-jump-links a.author-pane-link:hover,
#content .forum-jump-links a.author-pane-link:focus {
  color: #e6d330;
}

/* line 546, ../../../sass/colors/yellow/style.scss */
.off-canvas-toggle {
  color: #e6d330;
}
/* line 548, ../../../sass/colors/yellow/style.scss */
.off-canvas-toggle:hover, .off-canvas-toggle:focus {
  color: #e6d330;
}

/* line 556, ../../../sass/colors/yellow/style.scss */
ul.inline li a.active:hover, ul.inline li a.active:focus {
  color: #e6d330;
}

/* line 566, ../../../sass/colors/yellow/style.scss */
.item-list .pager .pager-previous a:before,
.item-list .pager .pager-next a:before {
  color: #e6d330;
}

/* line 575, ../../../sass/colors/yellow/style.scss */
.comment ul.inline li a:hover, .comment ul.inline li a:focus {
  background: #e6d330;
  color: white;
  border-color: #e6d330;
}

/* line 586, ../../../sass/colors/yellow/style.scss */
.forum-jump-links .af-button-large:hover, .forum-jump-links .af-button-large:focus, .forum-jump-links .af-button-small:hover, .forum-jump-links .af-button-small:focus, .forum-jump-links .author-pane-link:hover, .forum-jump-links .author-pane-link:focus {
  background: transparent !important;
  color: #e6d330 !important;
}

/*******/
/* line 594, ../../../sass/colors/yellow/style.scss */
span.forum-collapsible {
  background: #bdab14;
}

/* line 599, ../../../sass/colors/yellow/style.scss */
td.forum-last-reply a:hover, td.forum-last-reply a:focus {
  color: #e6d330;
}

/* line 605, ../../../sass/colors/yellow/style.scss */
.forum-table-topics td.views-field-title:hover span, .forum-table-topics td.views-field-title:hover .topic-title, .forum-table-topics td.views-field-title:hover .sticky-label, .forum-table-topics td.views-field-title:focus span, .forum-table-topics td.views-field-title:focus .topic-title, .forum-table-topics td.views-field-title:focus .sticky-label {
  color: #e6d330;
}

/* line 609, ../../../sass/colors/yellow/style.scss */
.icon-search-hover, .headline #block-search-form:hover:before {
  background-position: 0 0;
}

/* line 618, ../../../sass/colors/yellow/style.scss */
#panel-footer .social-list li a:hover:before, #panel-footer .social-list li a:focus:before {
  color: #e6d330;
}

/* line 629, ../../../sass/colors/yellow/style.scss */
#advanced-forum-forum-topic-list-sort-form input:hover, #advanced-forum-forum-topic-list-sort-form input:focus {
  background-color: #e6d330;
}

/* line 634, ../../../sass/colors/yellow/style.scss */
.chosen-container-active.chosen-with-drop .chosen-single {
  color: #e6d330;
}
/* line 636, ../../../sass/colors/yellow/style.scss */
.chosen-container-active.chosen-with-drop .chosen-single:before {
  border-bottom-color: #e6d330;
}

/* line 643, ../../../sass/colors/yellow/style.scss */
.chosen-container .chosen-results li:hover, .chosen-container .chosen-results li:focus, .chosen-container .chosen-results li.highlighted {
  background-color: #e6d330;
}

/* line 651, ../../../sass/colors/yellow/style.scss */
.comment h3 a:hover, .comment h3 a:focus {
  color: #e6d330;
}

/* line 657, ../../../sass/colors/yellow/style.scss */
ul.inline li.comment-comments a:hover, ul.inline li.comment-comments a:focus {
  color: #e6d330;
}

/* line 662, ../../../sass/colors/yellow/style.scss */
td.forum-last-reply .username {
  color: #e6d330;
}

/* line 666, ../../../sass/colors/yellow/style.scss */
.forum-post-panel-sub .author-pane .author-name .username {
  color: #e6d330;
}
